export(grow.ITR)
export(predict.ITR)
export(Build.RF.ITR)
export(de)
export(haoda.partition.ITR)
export(itrtest)
export(partition.ITR)
export(power.set)
export(prune)
export(s.itrtest)
export(send.down)
export(treeCV)
export(Variable.Importance.ITR)
export(Variable.Importance.ITR.Risk)
export(Variable.Importance.ITR.Efficacy)
export(send.down.VI.ITR)
export(send.down.VI.ITR.Risk)
export(send.down.VI.ITR.Efficacy)
import(randomForest)

useDynLib(mvITR)
#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
