export(grow.ITR)
export(grow.MVITR)
export(predict.ITR)
export(Build.RF.ITR)
export(de)
export(haoda.partition.ITR)
export(itrtest)
export(mvdat2)
export(mvdat3)
export(mvdat4)
export(mvdatAlt)
export(partition.ITR)
export(power.set)
export(prune)
export(s.itrtest)
export(send.down)
export(totalITR)
export(treeCV)
export(Variable.Importance.ITR)
export(send.down.VI.ITR)
import(randomForest)

useDynLib(mvITR)
#exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
